{% extends "base.html" %}
{% block title %}Articles{% endblock %}
{%- block description -%}Full articles index.{% endblock %}

{%- block content -%}
<h1>Articles</h1>
{%- for article in self.articles.values() -%}
<div>
<h3><a href="/articles/{{ article.url_title|safe }}"> {{ article.title }} </a></h3>
<p class="article-info">
<span class="article-info-dates">
Published {{ article.published|date|safe }}
{%- match article.updated -%}
	{%- when Some with (updated) -%} (Updated {{ updated|date|safe }})
	{%- when None -%}
{%- endmatch -%}
</span>
<ul class="tags">
{% for tag in article.tags %}
<li> #{{ tag }} </li>
{% endfor %}
</ul>
</p>
<p> {{ article.about }} </p>
</div>
{% endfor %}

{% endblock %}
