{% extends "base.html" %}
{% block title %}{{ self.info.title }}{% endblock %}

{% block content %}
<h1>{{ self.info.title }}</h1>

<div id="info-header">
<div id="timestamp" class="md-timestamp"><p>
<span id="published"> Published <time datetime="{{ self.info.published }}"> {{ self.info.published }} </time> </span>
{% match self.info.updated %}
{% when Some with (updated) %}
<br><span id="updated"> Updated <time datetime="{{ updated }}"> {{ updated }} </time> </span>
{% when None %}
{% endmatch %}
</p></div>
{% if !self.tags.is_empty() %}
<div id="tags" class="md-tags">
	<ul>
	{% 	for tag in self.tags %}
		<li class="md-tag"> #{{ tag }} </li>
	{% endfor %}
	</ul>
</div>
{% endif %}

<hr>

<div id="article">
{{ self.html|safe }}
</div>
{% endblock %}
