{% extends "base.html" %}
{% block title %}{{ self.info.title }}{% endblock %}
{%- block description -%} {{ self.info.about }} {% endblock %}
{%- block content -%}
<article>
<h1>{{ self.info.title }}</h1>

<div id="article-info">
<div><p>
<span id="published"> Published <time datetime="{{ self.info.published }}"> {{ self.info.published }} </time> </span>
{% match self.info.updated %}
{% when Some with (updated) %}
<br><span id="updated"> Updated <time datetime="{{ updated }}"> {{ updated }} </time> </span>
{% when None %}
{% endmatch %}
</p></div>
{% if !self.info.tags.is_empty() %}
	<ul class="tags">
	{% 	for tag in self.info.tags %}
		<li> #{{ tag }} </li>
	{% endfor %}
	</ul>
	<p id="article-about"> {{ self.info.about }} </p>
</div>
{% endif %}

<hr>

<div id="article">
{{ self.html|safe }}
</div>
</article>
<hr>
<div>
{%- match self.prev -%}
	{%- when Some with (prev) -%}
	<p><a id="prev-article" href="/articles/{{ prev.url_title }}"> Previous Article: {{ prev.title }} </a></p>
	{% when None %}
{% endmatch %}
{%- match self.next -%}
	{%- when Some with (next) -%}
	<p><a id="next-article" href="/articles/{{ next.url_title }}"> Next Article: {{ next.title }} </a></p>
	{% when None %}
{% endmatch %}
</div>
{% endblock %}
