{% extends "base.html" %}
{% block title %}{{ self.info.title }}{% endblock %}

{% block content %}
<h1>{{ self.info.title }}</h1>

<div id="article-info">
<div><p>
<span id="published"> Published <time datetime="{{ self.info.published }}"> {{ self.info.published }} </time> </span>
{% match self.info.updated %}
{% when Some with (updated) %}
<br><span id="updated"> Updated <time datetime="{{ updated }}"> {{ updated }} </time> </span>
{% when None %}
{% endmatch %}
</p></div>
{% if !self.info.tags.is_empty() %}
	<ul class="tags">
	{% 	for tag in self.info.tags %}
		<li class="md-tag"> #{{ tag }} </li>
	{% endfor %}
	</ul>
	<p id="article-about"> {{ self.info.about }} </p>
</div>
{% endif %}

<hr>

<div id="article">
{{ self.html|safe }}
</div>
{% endblock %}
