<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %} {% endblock %} - Insomnia's Blog </title>
	<script src="/static/luxon.js" defer></script>
	<script src="/static/localize_dates.js" defer></script>
	<link rel="stylesheet" src="/static/normalize.css">
	<link rel="stylesheet" src="/static/sakura.css">
	<link rel="stylesheet" src="/static/style.css">
	{% block head %} {% endblock %}
</head>

<body>
<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/articles">Articles</a></li>
<li><a href="/posts">Posts</a></li>
<li><a href="/search">Search</a></li>
</ul>
</nav>

<main>
<article>
{% block content %}{% endblock %}
</article>
</main>
</body>
</html>
