<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %} {% endblock %} - Insomnia's Blog </title>
	<meta name="description" content="{% block description %}Blog and short posts about programming, music and literature.{% endblock %}">
	<meta charset="utf-8">
	<script src="/static/global.js" defer></script>
	<link rel="stylesheet" href="/static/normalize.css">
	<link rel="stylesheet" href="/static/sakura.css">
	<link rel="stylesheet" href="/static/style.css">
	{% block head %} {% endblock %}
</head>

<body>
<nav>
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/articles">Articles</a></li>
	<li><a href="/music">Music</a></li>
	<li><a href="/posts">Posts</a></li>
	<li><a href="/search">Search</a></li>
	<li><a href="/about">About</a></li>
</ul>
</nav>

<main>
{% block content %}{% endblock %}
</main>
</body>
</html>
