<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %} {% endblock %} - Strange Aeons</title>
	<meta name="description" content="{% block description %}Blog and short posts about programming, music and literature.{% endblock %}">
	<meta name="keywords" content="Programming, Music, Literature">
	{%- if crate::SITE_URL.initialized() -%} <link rel="alternate" type="application/rss+xml" href="/rss"/> {% endif %}
	<script src="/static/global.js" defer></script>
	<link rel="stylesheet" href="/static/normalize.css">
	<link rel="stylesheet" href="/static/sakura.css">
	<link rel="stylesheet" href="/static/style.css">
	{% block head %} {% endblock %}
</head>

<body>
<nav>
<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/articles">Articles</a></li>
	<li><a href="/music">Music</a></li>
	<li><a href="/posts">Posts</a></li>
	<li><a href="/search">Search</a></li>
	<li><a href="/about">About</a></li>
</ul>
</nav>

<main>
{% block content %}{% endblock %}
</main>
<footer>
{%- if crate::SITE_URL.initialized() -%}
	<p><a href="/rss"> <small>RSS Feed</small></a></p>
{% endif %}
<p><small>&copy; Copyright {{ crate::prelude::current_year() }} {{ crate::COPYRIGHT.get().unwrap() }}</small></p>
</footer>

</body>
</html>
