{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<section id="recent-articles">
<h1>Recent Articles</h1>
{% for article in self.articles %}
<div>
	<h4><a href="/articles/{{ article.url_title }}">{{ article.title }}</a></h4>
	<p>Published <time datetime="{{ article.published }}"> {{ article.published }} </time></p>
	<p class="article-about"> {{ article.about }} </p>
	</div>
{% endfor %}
</section>

<section id="recent-posts">
<h1> Recent Posts </h1>
{% for post in self.posts %}
	<div class="post-preview">
	<a href="/posts/{{ post.id }}">
	<time datetime="{{ post.date }}"> {{ post.date }} </time>
	</a>
	{% if post.content.is_empty() %}
	<p> (Has {{ post.n_attachments }} attachments) </p>
	{% else %}
	{{ post.content|safe }}
	{% endif %}
	</div>
{% endfor %}
</section>

{% endblock %}
