{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<section id="recent-articles">
<h1>Recent Articles</h1>
{% for article in self.articles %}
<div>
	<h4><a href="/articles/{{ article.url_title }}">{{ article.title }}</a></h4>
	<p>Published <time datetime="{{ article.published }}"> {{ article.published }} </time></p>
	<p class="article-about"> {{ article.about }} </p>
	</div>
{% endfor %}
</section>

<section id="recent-posts">
<h1> Recent Posts </h1>
{% for post in self.posts %}
	<div class="post-preview">
	<a href="/posts/{{ post.id }}">
	<time datetime="{{ post.date }}"> {{ post.date }} </time>
	</a>
	{%- if !post.content.is_empty() -%}
	{{ post.content|safe }}
	{% endif %}
	{%- if post.n_attachments == 1 -%}
	<p>(Has 1 attachment)</p>
	{%- else if post.n_attachments != 0 -%}
	<p> (Has {{ post.n_attachments }} attachments) </p>
	{% endif %}
	</div>
{% endfor %}
</section>
<section id="recent-music">
<h1>Recent Music</h1>
{%- for music in self.music -%}
	<div>
	<a href="/music/{{ music.id }}">
	{{ music.title.as_deref().unwrap_or("untitled") }} - <time datetime="{{ music.date }}"> {{ music.date }} </time>
	</a>
	{%- if music.comment.is_some() -%}
	<p> {{ music.short_comment(60) }} </p>
	{% endif %}
	</div>
{% endfor %}
</section>
{% endblock %}
