{% extends "base.html" %}
{% block title %}{{ self.title.as_deref().unwrap_or("Music") }}{% endblock %}

{%- block description -%}
{%- match self.comment -%}
	{%- when Some with (comment) -%}
	{{ comment.first_words(200) }}
	{%- when None -%} {%- call super() -%}
{%- endmatch -%}
{%- endblock -%}

{%- block content -%}
<article>
<h1><a href="/music/{{ self.id }}">
{%- match self.title -%}
{%- when Some with (ttl) -%} {{ ttl }}
	{%- when None -%} Music #{{ self.id }}
{%- endmatch -%}
</a></h1>
<p>Uploaded {{ self.date|date|safe }}</p>
{%- match self.comment -%}
	{%- when Some with (cmt) -%}
	<p>{{ cmt }}</p>
	{%- when None -%}
{%- endmatch -%}
{{- self.media.render_html()|safe -}}
</article>
{%- endblock -%}
