{% extends "base.html" %}
{% block title %} {{ self.title }} {% endblock %}
{% block head %}
	<script src="/static/search_page.js"></script>
	
{% endblock %}

{% block content %}
<div id="search-area">
<input
	type="text"
	placeholder="search for articles or #tags"
	id="search-query"
	onkeypress="submit_search(event)">
<input type="radio" id="searchtype-article" name="searchtype" value="article" checked>
<label for="searchtype-article">Articles</label>
<input type="radio" id="searchtype-music" name="searchtype" value="music">
<label for="searchtype-music">Music</label>
</div>

{% if !self.is_base %} <H1> {{ self.title }} </h1> {% endif %}
<div id="search-results">
{% if !self.results.is_empty() %}
{% for result in self.results %}
	{% match result %}
	{% when SearchResult::Article with (article) %} {% include "search/article_result.html" %}
	{% when SearchResult::Music with (music) %} {% include "search/music_result.html" %}
	{% endmatch %}
{% endfor %}

{% else if !self.is_base %}
<p> No results found! </p>
{% endif %}
</div>
{% endblock %}