main {
	background-color: #000038;
	color: white;
}

nav a {
	text-decoration: none;
	color: #CDCEDE;
}

nav {
	background-color: black;
	padding: 0 20px;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

nav ul {
	list-style-type: none;
	height: 100%;
	display: flex;
	justify-content: space-around;
}

ul.tags {
	list-style-type: none;
	display: inline;
}
