{% extends "base.html" %}
{% block title %}{{ self.info.title }}{% endblock %}

{% block content %}
<h1>{{ self.info.title }}</h1>
<div class="date"><p>
<span id="published"> Published <time datetime="{{ self.info.published.format_utc() }}"> {{ self.info.published.format_utc() }} </time> </span>
{% match self.info.updated.format_utc() %}
{% when Some with (updated) %}
<br><span id="updated"> Updated <time datetime="{{ updated }}"> {{ updated }} </time> </span>
{% when None %}
{% endmatch %}
</p></div>
<hr>
<div id="article">
{{ self.html|safe }}
</div>
{% endblock %}
