{% extends "base.html" %}
{% block title %}{{ self.metadata.title }}{% endblock %}

{% block content %}
<h1>{{ self.metadata.title }}</h1>
<div class="date"><p>
<span id="published"> Published <time datetime="{{ self.date() }}"> {{ self.date() }} </time> </span>
{% match self.updated() %}
{% when Some with (updated) %}
<br><span id="updated"> Updated <time datetime="{{ updated }}"> {{ updated }} </time> </span>
{% when None %}
{% endmatch %}
</p></div>
<hr>
<div id="article">
{{ self.html|safe }}
</div>
{% endblock %}
